// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  border-left: 5px solid grey;
  padding: 2px 10px;
  margin-bottom: 16px;
}

.answer {
  background-color: rgb(247, 246, 214);
}

form {
  display: flex;
  flex-direction: column;
  margin: 16px;
}

label {
  margin-bottom: 16px;
}

.form {
  display: flex;
}

.form-control {
  padding: 16px;
  border-radius: 8px 0 0 8px;
  border: 1px solid rgb(167, 167, 167);
  width: 250px;
}

.btn {
  padding: 16px;
  border-radius: 0 8px 8px 0;
  background-color: rgb(50, 67, 146);
  color: white;
  border: none;
  &:hover {
    background-color: rgb(30, 41, 88);
    cursor: pointer;
  }
}

a {
  color: grey;
  text-decoration: none;
  &:hover {
    color: black;
  }
}
